body{
    text-align: center;
}
.card{
    font-display: auto;
    margin: 20px;
    background: white;
    padding:0 ;
    border: radius0 ; ;
    box-shadow: none;

}
.card{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0,5px 15px rgb(165, 80, 80);
}
button{
    background-color: rgb(105, 105, 118);
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 10px;  
}
button:hover{
    background-color: rgb(236, 232, 232);
}
body{
    background-image: url(fon\ avto.jpg);
}
.card{
    background-color: aliceblue;
    
}
.lagn a:hover{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 5px;
    text-decoration: navajowhite;
    font-weight: bold;
    color: orange;
    padding: 8px 12px;
    background-color: white;
    border-radius: 5px;



}

.lagn a:hover{
    color: orange;
    background-color: orange;
}
.img-btn {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}


.img-btn img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: 0.3s ease;
}


.img-btn:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
}


.img-btn:active img {
  transform: scale(0.95);
  filter: brightness(0.8);
}
.img-btn {
  position: relative;
}

.img-btn span {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background: rgba(57, 59, 50, 0.912);
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.3s;
}


.img-btn:hover span {
  opacity: 1;
}



.wave-btn {
  position: relative;
  overflow: hidden;
  padding: 12px 24px;
  background: #3e4d5d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
}

.wave-btn:after {
  content: "";
  position: absolute;
  background: rgba(162, 71, 71, 0.5);
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.8s ease;
}

.wave-btn:active:after {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
}



 input[type="text"] {
      width: 20%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      font-size: 14px;
      transition: all 0.3s ease;
    }

    input[type="text"]:focus {
      border-color: #473d3f;
      box-shadow: 0 0 5px rgba(78, 9, 228, 0.5);
      outline: none;
    }

    
    input[type="submit"] {
      width: 20%;
      padding: 12px;
      background: linear-gradient(135deg, #524648, #383033);
      border: none;
      color: white;
      font-size: 16px;
      font-weight: 500;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    input[type="submit"]:hover {
      background: linear-gradient(135deg, #550beb, #1707f1);
      transform: translateY(-2px);
      box-shadow: 0 5px 15px rgba(255,117,140,0.4);
    }
  